/.idea/

/Lab 1/.idea
/Lab 1/Lab 1.iml
/Lab 1/out/

/Lab 2/.idea
/Lab 2/Lab 2.iml
/Lab 2/target

/Lab3/.idea
/Lab3/Lab3.iml
/Lab3/target

/Lab4/.idea
/Lab4/target
/Lab4/Lab4.iml

/Lab5/.idea
/Lab5/target
/Lab5/Lab5.iml
/Lab5/.gitignore

/Lab7/.idea
/Lab7/target
/Lab7/Lab7.iml
/Lab7/.mvn
/Lab7/.gitignore

/Lab8/.idea
/Lab8/target
/Lab8/Lab8.iml
/Lab8/.mvn
/Lab8/.gitignore

/Lab9/.idea
/Lab9/target
/Lab9/Lab9.iml
/Lab9/.mvn
/Lab9/.gitignore
